RewriteEngine On

# PEH Groupings vocabulary redirections
# PEH BioChemEntities vocabulary redirections
# Redirect for /peh/terms based on content negotiation
# If the request is from a typical browser (user-agent contains Mozilla) OR Accept header prefers HTML
RewriteCond %{HTTP_USER_AGENT} ^Mozilla/ [OR]
RewriteCond %{HTTP_ACCEPT} text/html [OR]
RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
RewriteRule ^(.+)$ https://eu-parc.github.io/grouping-vocabulary/$1/ [R=303,L]

# Otherwise redirect to Nanopub.